<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/b322a84bca.js" crossorigin="anonymous"></script>
    <title>Proyecto</title>
</head>

<body>
    <div>
        <label for="">Ejercicio 1</label>
        <button routerLink="TarjetasExpandiblesComponent">
          Ir
        </button>
    </div>
    <div>
        <label for="">Ejercicio 2</label>
        <button routerLink="PasosDeProgresoComponent">Ir</button>
    </div>
    <div>
        <label for="">Ejercicio 3</label>
        <button routerLink="AnimacionGiratoriaComponent">Ir</button>
    </div>
    <div>
        <label for="">Ocultar buscador</label>
        <button routerLink="OcultarBuscadorComponent">Ir</button>
    </div>
    <div>
        icono
        <i class="fa-regular fa-star"></i>
    </div>
    <router-outlet></router-outlet>

</body>

</html>