<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <app-encabezado></app-encabezado>

    <div class="imagenPrincipal">
        <img src="/assets/Imagenes/pikachu.png">
    </div>

    <div class="contenedorBusqueda">
        <h3>Busca un Pokemon</h3>
        <p>Ingresa el nombre del Pokemon que quieres buscar</p>
        <div class="search">
            <input type="text" class="input" placeholder="Buscar..." [(ngModel)]="nombrePokemon">
            <button class="btn" (click)="navegarToBuscarPokemon()" id="inputBoton">
                <fa-icon [icon]="faSearch"></fa-icon>
            </button>
        </div>
    </div>

    <app-buscar-pokemon></app-buscar-pokemon>
</body>

</html>