<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <app-encabezado></app-encabezado>

    <div class="imagenPrincipal">
        <img src="/assets/Imagenes/pikachu.png">
    </div>

    <div class="contenedorBusqueda">
        <h3>Busca un Pokemon</h3>
        <p>Ingresa el nombre del Pokemon que quieres buscar</p>
        <div class="search">
            <input type="text" class="input" placeholder="Buscar..." [(ngModel)]="nombrePokemon">
            <button class="btn" (click)="buscarPokemon()" id="inputBoton">
                <fa-icon [icon]="faSearch"></fa-icon>
            </button>
        </div>
    </div>

    <div class="contenedorPokemons" *ngIf="band">

        <div class="imagenPokemon">
            <img src="{{urlImagen1}}" alt="">
        </div>

        <div class="informacionPokemon">

            <h5 class="card-title">{{nombrePokemon}}</h5>

            <div class="movimientos">
                <p class="card-text">Movimientos:</p>
                <ng-container *ngFor="let mov of movimientos ">
                    <p>{{mov}}</p>
                </ng-container>
            </div>

            <div class="tipoPokemon">
                <p>Tipo:</p>
                <ng-container *ngFor="let tipo of arregloTipo ">
                    <p>{{tipo}}</p>
                </ng-container>
            </div>
            <div class="habilidadesPokemon">
                <p class="card-text">Habilidades</p>
                <ng-container *ngFor="let hab of arregloHabilidades ">
                    <p> {{hab}}</p>
                </ng-container>
            </div>
        </div>
    </div>

</body>

</html>