* {
    box-sizing: border-box;
}

.encabezado {
    background-color: #e1e8ec;
    width: 100vw;
    /* background-color: red; */
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.encabezado .titulo {
    /*   background-color: yellow; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 65px;
    font-style: normal;
    color: #5cb3c1;
    padding: 15px;
    width: 25vw;
    text-align: center;
}

.encabezado div:nth-child(2) {
    margin: auto;
    /*  color: greenyellow; */
}

.contenedorImagen a img {
    /*  background-color: blue; */
    padding: 15px;
}

.menu {
    /*  background-color: violet; */
    padding: 15px;
}

.menu .navbar {
    /* background-color: grey; */
    padding: 15px;
}