<div class="encabezado">

    <div class="contenedorImagen">
        <a href="#">
            <img src="/assets/Imagenes/pokebola.png" href="#" alt="">
        </a>
    </div>

    <div class="titulo">
        <p>PokéExplore</p>
    </div>

    <div class="menu">
        <nav class="navbar navbar-expand-lg ">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="#">Inicio</a>
                <a class="nav-item nav-link" href="#">Busqueda</a>
                <a class="nav-item nav-link" href="http://www.linkedin.com/in/samantha-maldonado-mojica">Contactanos</a>
            </div>
        </nav>
    </div>

</div>