<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="footer">
        <div class="pokemon">
            <h2>PokéExplore</h2>
        </div>

        <div class="informacion">
            <p> <a href="">Inicio</a> </p>
            <p>|</p>
            <p> <a href="">Servicios</a> </p>
            <p>|</p>
            <P> <a href="">Sobre mi</a> </P>
            <p>|</p>
            <p> <a href="">Contacto</a> </p>
        </div>

        <div class="redesSociales">
            <div class="facebook">
                <a href="#">
                    <fa-icon [icon]="faFacebook"></fa-icon>
                </a>
            </div>
            <div class="linkedin">
                <a href="http://www.linkedin.com/in/samantha-maldonado-mojica">
                    <fa-icon [icon]="faLinkedin"></fa-icon>
                </a>
            </div>
            <div class="Github">
                <a href="https://github.com/samanthamojica/RepositorioProyectos">
                    <fa-icon [icon]="faGithub"></fa-icon>
                </a>
            </div>

        </div>
        <div class="nombre">
            <p>Samantha Maldonado Mojica </p>
        </div>

        <div class="logo">
            <img src="/assets/Imagenes/favicon.ico" alt="">
        </div>


    </div>
</body>

</html>