.nav-item {
    color: #CAC7D7;
    margin: 10px;
}

.nav-link {
    color: #CAC7D7;
}

a:hover {
    background-color: #A188A6;
}

.contenedor {
    width: 100%;
    background-color: black;
}

.encabezado {
    background-color: #f2f2f2;
    padding: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.encabezado .titulo {
    padding: 15px;
}

.menu {
    padding: 15px;
    display: flex;
    justify-content: space-between;
}