* {
    box-sizing: border-box;
    /*  background-color: #EDB5D2; */
    height: auto;
}

.barraDeColor {
    background-color: #CDB5D2;
    /*  background-color: yellow; */
    width: 100vw;
    height: 2vw;
}

.menuPrincipal {
    background-color: #edb5d2;
    padding: 15px;
}

.menu {
    padding: 15px;
    display: inline;
    text-decoration: none;
    font-size: medium;
    margin-bottom: 20px;
}

.menuPrincipal .menu:hover {
    font-weight: bold;
    text-decoration: underline;
}

.imagenNombre {
    background-color: #edb5d2;
    padding: 10px;
    display: flex;
    justify-content: center;
    height: 20vh;
}