<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="barraDeColor"></div>

    <div class="menuPrincipal">
        <a href="" class="menu inicio">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
        </a>
        <a href="" class="menu Catalogo">Catalogo</a>
        <a href="" class="menu ofertas">Ofertas</a>
        <a href="" class="menu servicios">Servicios</a>
        <a href="" class="menu contacto">Contacto</a>
    </div>

    <div class="imagenNombre">
        <img src="/assets/ImagenesEncabezado/momentosAmorConFondo.png" alt="">

    </div>

</body>

</html>