<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>

<body>
    <div class="barraDeColor"></div>

    <div class="menuPrincipal">
        <a href="" class="menu inicio">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
        </a>
        <a href="" class="menu Catalogo"><span>Catalogo</span></a>
        <a href="" class="menu ofertas"><span>Ofertas</span></a>
        <a href="" class="menu servicios"><span>Servicios</span></a>
        <a href="" class="menu contacto"><span>Contacto</span></a>
        <div class="menu2">
            <a href="IniciarSesionEmpleado">Empleado</a>
        </div>
    </div>

    <div class="imagenNombre">
        <div class="titulo">
            <h3>Momentos de Amor</h3>
        </div>
        <div class="subTitulo">Gratitud en cada detalle, joyeria fina por excelencia.</div>
    </div>

</body>

</html>