    * {
        box-sizing: border-box;
        height: auto;
    }
    
    .barraDeColor {
        background-color: #CDB5D2;
        width: 100vw;
        height: 2vw;
    }
    
    .menuPrincipal {
        background-color: rgba( 237, 181, 210, 0.3);
        padding: 15px;
    }
    /* **************************************BARRA DE NAVEGACION */
    
    .menu {
        padding: 15px;
        display: inline;
        text-decoration: none;
        font-size: medium;
        margin-bottom: 20px;
    }
    
    .menu span {
        color: #C8A8DA;
    }
    
    .menu.inicio {
        color: #C8A8DA;
    }
    
    .menuPrincipal .menu:hover {
        background-color: rgba(200, 168, 218, 0.2);
    }
    /*****************************************TITULO MOMENTOS DE AMOR  */
    
    .imagenNombre {
        background-color: rgba( 237, 181, 210, 0.3);
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .imagenNombre .titulo h3 {
        color: rgb(205, 181, 210);
        font-family: sacramento;
        font-size: 100px;
    }
    
    .imagenNombre .subTitulo {
        color: rgb(205, 181, 210);
        font-family: sacramento;
        font-size: 30px;
    }