<div class="container">
    <h5 class="titulo mt-5 text-center"> Seleccionar Horario de Clase</h5>
</div>

<div class="container tabla">
    <table class="table col-4">
        <thead class="thead-light">
            <tr>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let d of dias">
                <td>
                    <mat-checkbox value="dia" [(ngModel)]="d.statusDia" name="dia">{{d.dia}}</mat-checkbox>
                </td>
                <td>
                    <select id="" [disabled]="!d.statusDia" [(ngModel)]="d.hora" name="horaDia" ngDefaultControl>
                        <option *ngFor="let hora of listaHoras" [value]="hora">{{hora}}</option>
                    </select>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="text-center">
        <button class=" btn btn-primary" (click)="agregarDiaPrueba()">Guardar</button>
    </div>


    <div>
        <div *ngIf="band == true">
            <app-inf-guardada-ok></app-inf-guardada-ok>
        </div>
        <div *ngIf="band == false">
            <app-inf-no-guardada></app-inf-no-guardada>
        </div>
    </div>
</div>