<div class="container centrar">
    <h3>{{titulo}}</h3>
</div>

<div class="container text-center  ">
    <div class="row">
        <div class="col borde dias col-1.5 ">
            Hora
        </div>
        <div class="col borde dias col-1.5 ">
            Lunes
        </div>
        <div class="col borde dias col-1.5 ">
            Martes
        </div>
        <div class="col borde dias col-1.5 ">
            Miercoles
        </div>
        <div class="col borde dias col-1.5 ">
            Jueves
        </div>
        <div class="col borde dias col-1.5 ">
            Viernes
        </div>
        <div class="col borde dias col-1.5 ">
            Sabado
        </div>
    </div>
    <div class="row" *ngFor="let horario of clasePorHora">
        <div class="col col-1.5 margen hora borde">
            <p>{{horario.hora}}:00 </p>
        </div>
        <div *ngFor="let dia of dias" class=" col borde col-1.5 " [ngClass]="dia">
            <div class="row ">
                <div *ngFor="let clase of horario.horarios">
                    <div *ngIf="clase.dia == dia">
                        <a class="materia " [routerLink]="[ 'busqueda-materia', clase.idClase] ">{{clase.materia}}</a>
                        <br>
                        <a class="maestro " [routerLink]="[ 'busqueda-id-maestro', clase.idMaestro] ">
                            Ing. {{clase.nombreMaestro}} {{clase.apPaterno}} {{clase.apMaterno}} </a>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>