* {
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: red;
}

.titulo {
    text-align: center;
    margin: 15px;
}

.formularioAgregar {
    background-color: violet;
    /* width: 60vw; */
    /*  padding: 30px; */
}


/* .elementoForm {
    margin: 15px;
} */