* {
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
}

.titulo {
    text-align: center;
    margin: 20px;
}

.modal-header {
    background-color: rgba(237, 181, 210, 0.3);
}

.modal-body {
    background-color: rgba(237, 181, 210, 0.3);
}

.modal-footer {
    background-color: rgba(237, 181, 210, 0.3);
}

.formularioAgregar .catalogoImagenes .imagenesCargadas {
    background-color: violet;
    /*   padding: 15px; */
    display: flex;
    flex-direction: row;
    margin: 45px;
    flex-wrap: wrap;
    justify-content: center;
}