<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="titulo">
            <h2>Agregar Anillo</h2>
        </div>

        <div class="formularioAgregar">
            <form [formGroup]="fomularioAlta">
                <div class="elementoForm idAnillo">
                    <label for="" class="form-label">Id Anillo</label>
                    <input type="text" class="form-control" formControlName="idAnillo" name="idAnillo" aria-describedby=" emailHelp ">
                </div>
                <div class="elementoForm nombreAnillo ">
                    <label for=" " class="form-label ">Nombre del Anillo</label>
                    <input type="text " class="form-control " formControlName="nombreAnillo" name="nombreAnillo" aria-describedby=" emailHelp ">
                </div>
                <div class="elementoForm descripcionAnillo ">
                    <label for=" " class="form-label ">Descripcion</label>
                    <input type="text " class="form-control " formControlName="descripcion" name="descripcion" aria-describedby=" emailHelp ">
                </div>
                <div class="elementoForm categoriaAnillo ">
                    <label for=" " class="form-label ">Categoria</label>
                    <input type="text " class="form-control " formControlName="categoria" name="categoria" aria-describedby=" emailHelp ">
                </div>
                <div class="elementoForm precio">
                    <label for=" " class="form-label ">Precio</label>
                    <input type="text " class="form-control " formControlName="precio" name="precio" aria-describedby=" emailHelp ">
                </div>

                <button class="btn btn-primary" (click)="agragarAnillo()">Guardar</button>
            </form>
        </div>
    </div>
</body>

</html>