<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="contenedor">
        <div class="filtros">

            <div class="categorias">
                <h5>Categorias</h5>
                <ul>
                    <li><a href="#">Anillos de promesa</a></li>
                    <li> <a href="#">Juego de anillos</a></li>
                    <li> <a href="#">Inspirados en princesas</a></li>
                </ul>
            </div>

            <div class="colores">
                <h5>Colores</h5>
                <ul class="listaColores">
                    <li>
                        <img src="assets/colores/oro.jpg" alt="">
                        <a href=""><label for="">Oro Amarillo</label></a>
                    </li>
                    <li>
                        <img src="assets/colores/oro-rosa.jpg" alt="">
                        <a href="#"><label for="">Oro Rosa</label></a>
                    </li>
                    <li>
                        <img src="assets/colores/plata.jpg" alt="">
                        <a href="#"><label for="">Plateado</label></a>
                    </li>
                    <li>
                        <img src="assets/colores/verde-Esmeralda.jpg" alt="">
                        <a href="#"><label for="">Verde Esmeralda</label></a>
                    </li>
                    <li>
                        <img src="assets/colores/rosa.jpeg" alt="">
                        <a href="#"><label for="">Rosa</label></a>
                    </li>
                </ul>

            </div>

            <div class="precio">
                <h5>Precios</h5>
                <section class="example-section">
                    <mat-radio-group>
                        <ul>
                            <li>
                                <mat-radio-button class="example-margin" value="after">$0-50</mat-radio-button>
                            </li>
                            <li>
                                <mat-radio-button class="example-margin" value="after">$100-150</mat-radio-button>
                            </li>
                            <li>
                                <mat-radio-button class="example-margin" value="after">$150-200</mat-radio-button>
                            </li>
                            <li>
                                <mat-radio-button class="example-margin" value="after">$200-250</mat-radio-button>
                            </li>
                        </ul>
                    </mat-radio-group>
                </section>

            </div>
        </div>

        <div class="anillos">
            <div class="card anillo" style="width: 18rem;" *ngFor="let item of arregloAnillos">
                <a routerLink="[Anillo; item.idAnillo">
                    <img class=" card-img-top " src="{{item.urlImagen}} " alt="Card image cap ">
                </a>
                <a routerLink="[Anillo, item.idAnillo">
                    <div class="card-body ">
                        <h5 class="card-title ">{{item.nombreAnillo}}</h5>
                        <p class="card-text "> {{item.descripcion}}</p>
                        <p>{{item.idAnillo}}</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</body>

</html>