<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>


    <div class="contenedor">
        <div class="buscador">
            <p>Filtros</p>
            <div class="categorias">
                <h5>Categorias</h5>
                <a href="#">Anillos de promesa</a>
                <a href="#">Juego de anillos</a>
                <a href="#">Inspirados en princesas</a> a
            </div>

            <div class="colores">
                <h5>Colores</h5>
                <label for="">Rojo</label>
                <label for="">Dorados</label>
                <label for="">Plateado</label>
                <label for="">Verdes</label>
            </div>

            <div class="precio">
                <h5>Precios</h5>
                <input type="checkbox"><label for="">$0-50</label>
                <input type="checkbox"><label for="">$100-150</label>
                <input type="checkbox"><label for="">$150-200</label>
                <input type="checkbox"><label for="">$200-250</label>
            </div>

        </div>
        <div class="anillo">
            <!-- <div class="anillo" *ngFor="let item of arregloAnillos">
                <p>Nombre: {{item.nombreAnillo}}</p>
                <p>Descripcion: {{item.descripcion}}</p>
                <p>Precio: {{item.precio}}</p>
                <p>Colores Disponibles: {{item.coloresDisponibles}}</p>
            </div> -->
            <!--  <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div> -->

        </div>

    </div>

</body>

</html>