<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>Document</title> -->
</head>

<body>

    <div class="contenedor-fondo">
        <div class="fondoClaro">
            <div class="texto">
                <p>Al elegir nuestros productos, nuestros clientes adquieren algo más que simple belleza; adquieren expresiones de amor, compromiso, gratitud y aprecio. Cada joya cuenta una historia única y personal, convirtiéndose en un símbolo de momentos
                    especiales en la vida de quienes las poseen.</p>
            </div>
        </div>
        <div class="fondoFotografia">

        </div>
    </div>

</body>

</html>