.clase {
    margin-top: 100px;
    margin-left: 200px;
    padding: 10px;
    left: 100px;
    width: 300px;
    position: absolute;
}

.porNombre {
    margin-top: 100px;
    left: 700px;
    padding: 10px;
    width: 300px;
    position: absolute;
}

.imagen {
    margin-top: 100px;
    left: 1100px;
    padding: 10px;
    width: 300px;
    position: absolute;
}

a {
    text-decoration: none;
}