<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tarjetas expandibles</title>
</head>

<body>
    <div class="container">
        <div class="panel active" style="background-image: url(/assets/imagenes/cupcake.png);">
            <h3> Explorar 1 </h3>
        </div>
        <div class="panel" style="background-image: url(/assets/imagenes/frapuccino.png);">
            <h3> Explorar 2 </h3>
        </div>
        <div class="panel" style="background-image: url(/assets/imagenes/gelatina.png);">
            <h3> Explorar 3 </h3>
        </div>
        <div class="panel" style="background-image: url(/assets/imagenes/gelatina2.png);">
            <h3> Explorar 4 </h3>
        </div>
        <div class="panel" style="background-image: url(/assets/imagenes/helado.png);">
            <h3> Explorar 5 </h3>
        </div>

    </div>
</body>


</html>