.numCuenta {
    position: absolute;
    left: 60%;
}

.tabla {
    margin-top: 120px;
}

.titulo {
    text-align: center;
}

.eliminado {
    color: #4C8577;
    text-align: center;
    margin-top: 20;
}

.noEliminado {
    color: red;
    text-align: center;
    margin-top: 20;
}