<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellidos </th>

                <th></th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>{{alumno.idAlumno}}</td>
                <td>{{alumno.nombreAlumno}}</td>
                <td>{{alumno.apPaternoA}}</td>
                <td>{{alumno.apMaternoA}}</td>
                <td>{{alumno.fechaNacimientoA}}</td>
                <td>{{alumno.emailA}}</td>

                <td>
                    <button class="boton-Editar btn btn-primary">Editar</button>
                    <button class="boton-Eliminar btn btn-secondary">Eliminar</button>
                </td>
            </tr>


        </tbody>
    </table>
</div>