<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center" class="contenedorImagen">
        <mat-tab label="Anillos">
            <div class="imagen anillos">
                <a href="Anillos"><img src="/assets/anillos/anillo3.png" alt="anillo"></a>
            </div>
        </mat-tab>

        <mat-tab label="Pulseras">
            <div class="imagen pulseras">
                <a href="Pulseras"> <img src="/assets/pulseras/pulsera2.png" alt="pulsera"></a>
            </div>
        </mat-tab>

        <mat-tab label="Aretes">
            <div class="imagen aretes">
                <a href="Aretes"> <img src="/assets/aretesLargos/aretes4.png" alt="aretes"></a>
            </div>
        </mat-tab>
        <mat-tab label="Mas Vendidos">
            <div class="imagen mas-vendidos">
                <a href="MasVendidos"><img src="/assets/anillosTematicos/anillo tematico7.png" alt="anillo"></a>
            </div>
        </mat-tab>
    </mat-tab-group>

</body>

</html>