<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>


    <!--  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
        <mat-tab label="First">Content 1</mat-tab>
        <mat-tab label="Second">Content 2</mat-tab>
        <mat-tab label="Third">Content 3</mat-tab>
    </mat-tab-group> -->

    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center" class="contenedorImagen">
        <mat-tab label="Anillos">
            <div class="imagen anillos">
                <img src="/assets/anillos/anillo3.png" alt="anillo">
            </div>
        </mat-tab>
        <mat-tab label="Pulseras">
            <div class="imagen pulseras">
                <img src="/assets/pulseras/pulsera2.png" alt="pulsera">
            </div>
        </mat-tab>
        <mat-tab label="Aretes">
            <div class="imagen aretes">
                <img src="/assets/aretesLargos/aretes4.png" alt="aretes">
            </div>
        </mat-tab>
        <mat-tab label="Mas Vendidos">
            <div class="imagen mas-vendidos">
                <img src="/assets/anillosTematicos/anillo tematico7.png" alt="anillo">
            </div>
        </mat-tab>
    </mat-tab-group>
</body>

</html>