<div *ngIf="error == true" class="container col-6">
    <app-error-num-cuenta></app-error-num-cuenta>
</div>
<div *ngIf="error == false">
    <div class="container back">
        <h2 class="titulo"> Alumno a Eliminar</h2>
    </div>
    <div class="container tabla">
        <table class="table table-hover col-4">
            <thead class="thead-light ">
                <tr>
                    <th scope="col ">#</th>
                    <th scope="col ">Nombre</th>
                    <th scope="col ">Apellidos</th>
                    <th scope="col ">Correo</th>
                    <th scope="col ">Numero de Cuenta</th>
                    <th> </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>{{alumno.nombreAlumno}}</td>
                    <td>{{alumno.apPaternoA}} {{alumno.apMaternoA}}</td>
                    <td>{{alumno.emailA}}</td>
                    <td>{{alumno.numCuentaA}}</td>
                    <td>
                        <button class="btn btn-danger " (click)=" guardarNumC(alumno.numCuentaA) " data-bs-toggle="modal" data-bs-target="#exampleModal">Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- Modal -->

    <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <img src="/assets/iconos/deleteF.png" alt="">
                    <h1 class="modal-title fs-5" id="exampleModalLabel"></h1>
                    <button type="button " class="btn-close " data-bs-dismiss="modal " aria-label="Close "></button>
                </div>
                <div class="modal-body ">

                    <div *ngIf="band == true" class="eliminado">
                        <h3>Alumno eliminado</h3>
                    </div>
                    <div *ngIf="band == false" class="noEliminado">
                        <h3>Error al eliminar</h3>
                    </div>
                </div>
                <div class="modal-footer ">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" routerLink="/eliminar-alumno">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <img src="/assets/iconos/deleteF.png" title="delete icons">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Borrar</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">      
          </button>
                </div>
                <div class="modal-body">
                    Estas seguro que quires borrarlo?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" routerLink="/eliminar-alumno">Close</button>
                    <button type="button" class="btn btn-danger" (click)="eliminarAlumno()" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#exampleModal2">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
</div>